<p>
    All the information regarding your poem is stored directly in the link
    that your browser uses to display you a poem. This is why the link is
    actually so long. As long as this web-site lives, you can safely share
    your poem in a beautiful layout simply by sharing the link!
</p>
