<section class="write-poem">
    <%= form_tag poem_create_path, method: :post do %>
        <div class="row">
            <%= text_area_tag :poem, '', size: '50x24', placeholder: @example_poem, autofocus: true %>
        </div>
        <%= submit_tag 'Publish!' %>
    <% end  %>
</section>
