<section class="show-poem">
    <div class="poem-view">
        <%= sanitize @poem, tags: %w( br ) %>
    </div>
</section>

<section class="show-link-to-poem">
    <p>You can copy the link from your browser address bar or copy it from the box below:</p>
    <textarea class="u-full-width url-holder" rows="10" readonly="readonly"
              onclick="this.focus();this.select()"><%= sanitize @url %></textarea>
</section>
