<section class="footer u-full-width">
    <div class="row">
        <div class="nine columns">
            Any user content provided by this website does not come
            directly from any kind of a storage and purely depends on
            the link submitted to the browser to access this website.
        </div>
        <div class="three columns github-link">
            <%= link_to fa_icon('github 2x', text: 'github'),
            'https://github.com/greenfork/poem-share' %>
        </div>
    </div>
</section>
