<section class="header">
    <h1>Poem Share</h1>
    <p>
        You can freely share your poems here with just a single link
        which will never expire!
        <%= link_to 'How does this work?', page_path('about') %>
    </p>
</section>
