<section class="header">
    <h1><%= link_to 'Poem Share', root_path, class: 'main-header' %></h1>
    <p>
        You can freely share your poems here with just a single link
        which will never expire!
        <%= link_to 'How does this work?', page_path('about') %>
    </p>
</section>
